@{
    ViewBag.Title = "_article";
}

<div class="article" id="article-185">
    <div class="article-header">
        <div class="article-post-date">
            <div class="month">Jan</div>
            <div class="day">27</div>
            <div class="year">20<br>12</div>
        </div>
        <h4 class="article-title"><a href="#">Blog 1</a></h4>
    </div>
    <p class="article-content">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum... &nbsp; <a href="@Url.Action("Blog_Article_Details", new { articleId = "4" })" class="more">Continue Reading →</a></p>
</div>