@{
    ViewBag.Title = "_blogHeader";
}

<header class="header">
    <div class="header-content">
        <h1><a href="@Url.Action("Blog_Main")">Windows Phone IT</a></h1>
        <h2>The english reference according to experts</h2>
    </div>
</header>