@{
    ViewBag.Title = "_blogFooter";
}

<footer class="footer">
    <p>© 2011 - SUPINFO .NET Group Project - All rights deserved to Guillaume DA SILVA, Grégoire DAUSSIN, Mohamed EL GUADROURI, Gauthier WALLET</p>
</footer>