@{
    ViewBag.Title = "_blogHeader";
}

<header class="header">
    <div class="header-content">
        
        <h1>@Html.ActionLink("Link to Page", "blog_home")</h1>
        <h2>The english reference according to experts</h2>
    </div>
</header>